<div class="mx-auto flex p-10">
  <div class="mr-10 w-1/4">
    <div class="mb-4">
      <input
        type="text"
        placeholder="Search Contacts"
        [(ngModel)]="searchTerm"
        (input)="filterContacts()"
        class="w-full p-2 border rounded"
      />
    </div>
    <ul class="mb-4">
      <li *ngFor="let letter of alphabets" class="bg-gray-100 rounded-md p-3 m-2 hover:bg-gray-200">
        <a href="#{{ letter }}" class="block text-blue-500 font-semibold">{{ letter }}</a>
      </li>
    </ul>
  </div>

  <div class="w-3/4">
    <h2 class="text-2xl mb-4 font-bold">Contacts</h2>
    <div *ngFor="let group of groupedContacts | keyvalue">
      <h3
        *ngIf="!searchTerm"
        id="{{ group.key }}"
        class="text-xl font-semibold"
      >
        {{ group.key }}
      </h3>
      <ul class="mb-4">
        <ng-container *ngFor="let contact of group.value">
          <li *ngIf="filteredContacts.includes(contact)" class="mb-2 bg-gray-100 rounded-md p-3 hover:bg-gray-200">
            <a
              (click)="selectContact(contact)"
              class="cursor-pointer text-blue-600 hover:underline"
              >{{ contact.name }}</a
            >
          </li>
        </ng-container>
      </ul>
    </div>
  </div>

  <div
  *ngIf="selectedContact"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
  (click)="outsideClick($event)" 
>
  <div class="bg-white rounded shadow-xl w-1/2" (click)="$event.stopPropagation()">
    <app-detail [contact]="selectedContact" (close)="clearSelectedContact()"></app-detail>
  </div>
</div>
</div>